// 对部分样式进行重置
body {
  background: var(--td-bg-color-page);
  color: var(--td-text-color-primary);
  font: var(--td-font-body-medium);
  font-family: var(--td-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

pre,
code,
kbd,
samp {
  font-family: var(--td-font-family-mono, ui-monospace, Menlo, Consolas, monospace);
}

ul,
dl,
li,
dd,
dt {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
